{% extends "base.html.twig" %}

{% block title %}Subnet List{% endblock %}

{% block body %}
    <p class="important">
        {{ component('subnet_list') }}
    </p>

{#    {{ component('subnet_table') }}#}

{% endblock %}
